# 라이브러리

In [1]:
import pandas as pd
import numpy as np

# 결과 확인을 용이하게 하기 위한 코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import seaborn as sns
import matplotlib.pyplot as plt

# 7727명만을 포함한 total_data_7727.csv

In [77]:
# total_data.csv -> 7727명을 포함한 total_data.csv
x = np.load('./x_(7799,10,4069).npy')

sub_sum = x.sum(axis=1).sum(axis=1)
sub_sum[sub_sum>1] = 1
sub_sum = pd.DataFrame(sub_sum)
sub_sum = sub_sum.reset_index()
sub_sum.columns = ['subid','value']
# sub_sum

zero_index = sub_sum[sub_sum['value']==0].index
sub_df = pd.DataFrame(total_data['SUBJECT_ID'].unique())
sub_df = sub_df.drop(index=zero_index)
subid_7727 = sub_df[0].values
# subid_7727

total_data = pd.read_csv('total_data.csv')
total_data2 = total_data[total_data['SUBJECT_ID'].isin(subid_7727)]
total_data2

# total_data2 -> csv로 저장
# total_data2.to_csv('total_data_7727.csv', index=False)

         SUBJECT_ID  ITEMID   CHARTTIME TYPE
0                 9   50882  2149-11-09  LAB
1                 9   50931  2149-11-09  LAB
2                 9   50971  2149-11-09  LAB
3                 9   51275  2149-11-09  LAB
4                 9   51288  2149-11-09  LAB
...             ...     ...         ...  ...
9221915       99985   51288  2181-03-06  LAB
9221916       99985   51279  2182-03-14  LAB
9221917       99985   51006  2182-03-14  LAB
9221918       99985   51221  2182-03-14  LAB
9221919       99985   51222  2182-03-14  LAB

[9169855 rows x 4 columns]

# x_(7727,10,4068)

In [6]:
total_data2 = pd.read_csv('./total_data_7727.csv')
total_data = pd.read_csv('./total_data.csv')

dic_sub2idx = {}
for i, j in enumerate(total_data2['SUBJECT_ID'].unique()):
    dic_sub2idx[j] = i

dic_item2idx = {}
for i, j in enumerate(total_data2['ITEMID'].sort_values().unique()): ## total_data2의 ITEMID 개수 : 4068개 
    dic_item2idx[j] = i

admission = pd.read_csv('/project/data/ADMISSIONS.csv')
admission = admission[admission['SUBJECT_ID'].isin(total_data2['SUBJECT_ID'].unique())]

# DISCHTIME열 시간 제거
import datetime as dt
admission['DISCHTIME'] = pd.to_datetime(admission['DISCHTIME'])
admission['DISCHTIME'] = admission['DISCHTIME'].dt.date

dic_sub2final_date = dict(admission.groupby('SUBJECT_ID')['DISCHTIME'].max())

len(dic_sub2idx)
len(dic_item2idx)
len(dic_sub2final_date)

7727

4068

7727

In [7]:
from datetime import timedelta
from tqdm import tqdm
import datetime

x = np.zeros((7727,10,4068))

IF = open('total_data_7727.csv','r')
line = IF.readline()
for line in tqdm(IF):
    ss = line.strip('\n').split(',')
    sub, item, charttime = int(ss[0]), int(ss[1]), datetime.date.fromisoformat(ss[2])
    subidx = dic_sub2idx[sub]
    itemidx = dic_item2idx[item]
    finaldate = dic_sub2final_date[sub]
    interval = (finaldate - charttime).days
    
    if (interval < 1) or (interval > 10): # interval : 1일이상 ~ 10일이하만 고려 
        pass
    else:
        dateidx = -((finaldate - charttime).days) + 10
        x[subidx, dateidx, itemidx] = 1

IF.close()
print(x.sum())
print(x.shape)

9169855it [00:14, 643400.42it/s]

2042722.0
(7727, 10, 4068)

In [8]:
# x save
np.save('x_(7727,10,4068).npy',x)
 
# x load
x_4068 = np.load("x_(7727,10,4068).npy")

In [10]:
x_4068.sum()

2042722.0

# int = 1, total = 10 (len = 10)
- 'x_(7727, 10, 4069).npy'로 저장

In [82]:
total_data2 = pd.read_csv('./total_data_7727.csv')
total_data = pd.read_csv('./total_data.csv')

dic_sub2idx = {}
for i, j in enumerate(total_data2['SUBJECT_ID'].unique()):
    dic_sub2idx[j] = i

dic_item2idx = {}
for i, j in enumerate(total_data['ITEMID'].sort_values().unique()): ## total_data2의 ITEMID 개수 : 4068개 
    dic_item2idx[j] = i

admission = pd.read_csv('/project/data/ADMISSIONS.csv')
admission = admission[admission['SUBJECT_ID'].isin(total_data2['SUBJECT_ID'].unique())]

# DISCHTIME열 시간 제거
import datetime as dt
admission['DISCHTIME'] = pd.to_datetime(admission['DISCHTIME'])
admission['DISCHTIME'] = admission['DISCHTIME'].dt.date

dic_sub2final_date = dict(admission.groupby('SUBJECT_ID')['DISCHTIME'].max())

len(dic_sub2idx)
len(dic_item2idx)
len(dic_sub2final_date)

7727

4069

7727

In [121]:
from datetime import timedelta
from tqdm import tqdm
import datetime

x = np.zeros((7727,10,4069))

IF = open('total_data_7727.csv','r')
line = IF.readline()
for line in tqdm(IF):
    ss = line.strip('\n').split(',')
    sub, item, charttime = int(ss[0]), int(ss[1]), datetime.date.fromisoformat(ss[2])
    subidx = dic_sub2idx[sub]
    itemidx = dic_item2idx[item]
    finaldate = dic_sub2final_date[sub]
    interval = (finaldate - charttime).days
    
    if (interval < 1) or (interval > 10): # interval : 1일이상 ~ 10일이하만 고려 
        pass
    else:
        dateidx = -((finaldate - charttime).days) + 10
        x[subidx, dateidx, itemidx] = 1

IF.close()
print(x.sum())
print(x.shape)

9169855it [00:14, 623455.64it/s]

2042722.0
(7727, 10, 4069)

In [122]:
# 기존에 만든 것과 sum이 같은지 확인 
t = np.load('x_(7727,10,4069).npy')
t.sum()

2042722.0

# int = 1, total = 30 (len = 30)

In [2]:
total_data2 = pd.read_csv('./total_data_7727.csv')

dic_sub2idx = {}
for i, j in enumerate(total_data2['SUBJECT_ID'].unique()):
    dic_sub2idx[j] = i

dic_item2idx = {}
for i, j in enumerate(total_data2['ITEMID'].sort_values().unique()): ## total_data2의 ITEMID 개수 : 4068개 
    dic_item2idx[j] = i

admission = pd.read_csv('/project/data/ADMISSIONS.csv')
admission = admission[admission['SUBJECT_ID'].isin(total_data2['SUBJECT_ID'].unique())]

# DISCHTIME열 시간 제거
import datetime as dt
admission['DISCHTIME'] = pd.to_datetime(admission['DISCHTIME'])
admission['DISCHTIME'] = admission['DISCHTIME'].dt.date

dic_sub2final_date = dict(admission.groupby('SUBJECT_ID')['DISCHTIME'].max())

len(dic_sub2idx)
len(dic_item2idx)
len(dic_sub2final_date)

7727

4068

7727

- ★ 계산 note 
- dateidx = -(finaldate - charttime).days + 10
- (D-?) 0 ( 1 2 3 4 5 6 7 8 9 10 )
- (arr_index) 10 ( 9 8 7 6 5 4 3 2 1 0 )


- dateidx = -((finaldate - charttime).days) + 30
- (D-?) = 0 ( 1 2 3 4 5 ... 27 28 29 30 )
- (arr_index) = 10 ( 29 28 27 26 25 ... 4 3 2 1 0 )

In [4]:
from datetime import timedelta
from tqdm import tqdm
import datetime

x = np.zeros((7727,30,4068))

IF = open('total_data_7727.csv','r')
line = IF.readline()
for line in tqdm(IF):
    ss = line.strip('\n').split(',')
    sub, item, charttime = int(ss[0]), int(ss[1]), datetime.date.fromisoformat(ss[2])
    subidx = dic_sub2idx[sub]
    itemidx = dic_item2idx[item]
    finaldate = dic_sub2final_date[sub]
    interval = (finaldate - charttime).days
    
    if (interval < 1) or (interval > 30): # interval : 1일이상 ~ 30일이하만 고려 
        pass
    else:
        dateidx = -((finaldate - charttime).days) + 30
        x[subidx, dateidx, itemidx] = 1

IF.close()
print(x.sum())
print(x.shape)

9169855it [00:15, 595003.89it/s]

3486722.0
(7727, 30, 4068)

In [5]:
# x save
# np.save('x_(7727,30,4068).npy',x)
 
# x load
x_30 = np.load("x_(7727,30,4068).npy")

# int = 2, total = 20 (len = 10)
- 'x_int2_(7727, 10, 4069).npy'로 저장
- 7727명 중 data가 하나도 없는 환자 : 196명

- ★ 계산 note 
- dateidx = -(finaldate - charttime).days + 10
- (D-?) 0 ( 1 2 3 4 5 6 7 8 9 10 )
- (arr_index) 10 ( 9 8 7 6 5 4 3 2 1 0 )


- dateidx = -((finaldate - charttime).days)//2 + 10
- (finaldate - charttime) % 2 == 0 => 조건추가
- (D-?) = 0 ( 2 4 6 8 10 12 14 16 18 20 )
- (arr_index) = 10 ( 9 8 7 6 5 4 3 2 1 0 )

In [142]:
from datetime import timedelta
from tqdm import tqdm
import datetime

x = np.zeros((7727,10,4069))

IF = open('total_data_7727.csv','r')
line = IF.readline()
for line in tqdm(IF):
    ss = line.strip('\n').split(',')
    sub, item, charttime = int(ss[0]), int(ss[1]), datetime.date.fromisoformat(ss[2])
    subidx = dic_sub2idx[sub]
    itemidx = dic_item2idx[item]
    finaldate = dic_sub2final_date[sub]
    interval = (finaldate - charttime).days
    
    if (interval < 2) or (interval > 20): # interval : 2일이상 ~ 20일이하만 고려 
        pass
    else:
        if ((interval % 2) == 0):
            dateidx = -((finaldate - charttime).days)//2 + 10
            x[subidx, dateidx, itemidx] = 1

IF.close()
print(x.sum())
print(x.shape)

9169855it [00:14, 617069.65it/s]

1461410.0
(7727, 10, 4069)

In [6]:
# x save
# np.save('x_int2_(7727,10,4069).npy',x)

# x load
x_int2 = np.load("./data/x_int2_(7727,10,4069).npy")

# int = 3, total = 30 (len = 10)
- 'x_int3_(7727, 10, 4069).npy'로 저장

In [4]:
total_data2 = pd.read_csv('./total_data_7727.csv')
total_data = pd.read_csv('./total_data.csv')

dic_sub2idx = {}
for i, j in enumerate(total_data2['SUBJECT_ID'].unique()):
    dic_sub2idx[j] = i

dic_item2idx = {}
for i, j in enumerate(total_data['ITEMID'].sort_values().unique()): ## total_data2의 ITEMID 개수 : 4068개 
    dic_item2idx[j] = i

admission = pd.read_csv('/project/data/ADMISSIONS.csv')
admission = admission[admission['SUBJECT_ID'].isin(total_data2['SUBJECT_ID'].unique())]

# DISCHTIME열 시간 제거
import datetime as dt
admission['DISCHTIME'] = pd.to_datetime(admission['DISCHTIME'])
admission['DISCHTIME'] = admission['DISCHTIME'].dt.date

dic_sub2final_date = dict(admission.groupby('SUBJECT_ID')['DISCHTIME'].max())

len(dic_sub2idx)
len(dic_item2idx)
len(dic_sub2final_date)

7727

4069

7727

In [5]:
from datetime import timedelta
from tqdm import tqdm
import datetime

x = np.zeros((7727,10,4069))

IF = open('./total_data_7727.csv','r')
line = IF.readline()
for line in tqdm(IF):
    ss = line.strip('\n').split(',')
    sub, item, charttime = int(ss[0]), int(ss[1]), datetime.date.fromisoformat(ss[2])
    subidx = dic_sub2idx[sub]
    itemidx = dic_item2idx[item]
    finaldate = dic_sub2final_date[sub]
    interval = (finaldate - charttime).days
    
    if (interval < 3) or (interval > 30): # interval : 3일이상 ~ 30일이하만 고려 
        pass
    else:
        if ((interval % 3) == 0):
            dateidx = -((finaldate - charttime).days)//3 + 10
            x[subidx, dateidx, itemidx] = 1

IF.close()
print(x.sum())
print(x.shape)

9169855it [00:14, 638695.98it/s]

1095557.0
(7727, 10, 4069)

In [7]:
# x save
# np.save('x_int3_(7727,10,4069).npy',x)

# x load
x_int2 = np.load("./x_int3_(7727,10,4069).npy")
x_int2.sum()

1095557.0

# int = 2, total = 60 (len = 30)
- 'x_int2_(7727,30,4069).npy'로 저장

- ★ 계산 note 
- dateidx = -(finaldate - charttime).days + 10
- (D-?) 0 ( 1 2 3 4 5 6 7 8 9 10 )
- (arr_index) 10 ( 9 8 7 6 5 4 3 2 1 0 )


- dateidx = -((finaldate - charttime).days)//2 + 30
- (finaldate - charttime) % 2 == 0 => 조건추가
- (D-?) = 0 ( 2 4 6 8 10 12 14 16 18 20 ... 58 60 )
- (arr_index) = 30 ( 29 28 27 26 25 24 ... 3 2 1 0 )

In [141]:
from datetime import timedelta
from tqdm import tqdm
import datetime

x = np.zeros((7727,30,4069))

IF = open('total_data_7727.csv','r')
line = IF.readline()
for line in tqdm(IF):
    ss = line.strip('\n').split(',')
    sub, item, charttime = int(ss[0]), int(ss[1]), datetime.date.fromisoformat(ss[2])
    subidx = dic_sub2idx[sub]
    itemidx = dic_item2idx[item]
    finaldate = dic_sub2final_date[sub]
    interval = (finaldate - charttime).days
    
    if (interval < 2) or (interval > 60): # interval : 2일이상 ~ 60일이하만 고려 
        pass
    else:
        if ((interval % 2) == 0):
            dateidx = -((finaldate - charttime).days)//2 + 30
            x[subidx, dateidx, itemidx] = 1

IF.close()
print(x.sum())
print(x.shape)

9169855it [00:15, 591364.86it/s]

1986925.0
(7727, 30, 4069)

In [3]:
# x save
# np.save('x_int2_(7727,30,4069).npy',x)

# x load
x_int2_30 = np.load("./data/x_int2_(7727,30,4069).npy")

# int = 3, total = 90 (len = 30)
- 'x_int3_(7727, 30, 4069).npy'로 저장

- ★ 계산 note 
- dateidx = -(finaldate - charttime).days + 10
- (D-?) 0 ( 1 2 3 4 5 6 7 8 9 10 )
- (arr_index) 10 ( 9 8 7 6 5 4 3 2 1 0 )


- dateidx = -((finaldate - charttime).days)//3 + 30
- (finaldate - charttime) % 3 == 0 => 조건추가
- (D-?) = 0 ( 3 6 9 12 15 ... 87 90 )
- (arr_index) = 30 ( 29 28 27 26 25 24 ... 3 2 1 0 )

In [140]:
from datetime import timedelta
from tqdm import tqdm
import datetime

x = np.zeros((7727,30,4069))

IF = open('total_data_7727.csv','r')
line = IF.readline()
for line in tqdm(IF):
    ss = line.strip('\n').split(',')
    sub, item, charttime = int(ss[0]), int(ss[1]), datetime.date.fromisoformat(ss[2])
    subidx = dic_sub2idx[sub]
    itemidx = dic_item2idx[item]
    finaldate = dic_sub2final_date[sub]
    interval = (finaldate - charttime).days
    
    if (interval < 3) or (interval > 90): # interval : 3일이상 ~ 90일이하만 고려 
        pass
    else:
        if ((interval % 3) == 0):
            dateidx = -((finaldate - charttime).days)//3 + 30
            x[subidx, dateidx, itemidx] = 1

IF.close()
print(x.sum())
print(x.shape)

9169855it [00:14, 617086.22it/s]

1380745.0
(7727, 30, 4069)